<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="error"
      internalLogFile="internal-nlog.txt">

  <!-- the targets to write to -->
  <targets>
    <target name="logconsole" xsi:type="ColoredConsole">
      <layout type='CompoundLayout'>
        <layout xsi:type="JsonLayout" includeAllProperties="true" includeMdlc="true">
          <attribute name="time" layout="${date:universalTime=true:format=o}" />
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="logger" layout="${logger}" />
          <attribute name="machinename" layout="${machinename}" />
          <attribute name="message" layout="${message}" />
          <attribute name="threadid" layout="${threadid}" />
          <attribute name="exception" layout="${exception:format=tostring}" />
          <attribute name="scopetimestamp" layout="${ndlctiming:currentScope=false}" />
        </layout>
        <layout type='SimpleLayout' text="${newline}" />
      </layout>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!-- BlackHole without writeTo -->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="System.Net.Http.HttpClient.*.ClientHandler" maxLevel="Trace" final="true" />
    <logger name="System.Net.Http.HttpClient.*.LogicalHandler" maxLevel="Info" final="true" />

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
  </rules>
</nlog>